{% extends '_base.html' %}

{% block title %}{{ book.title }}{% endblock title %}

{% block content %}
  <div class="book-detail">
    <h2>
      <a href="">{{ book.title}}</a>
      <p>Author : {{ book.author}} </p>
      <p>Price : {{ book.price }}</p>
    </h2>
  </div>
{% endblock content %}