<!DOCUMENT html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Bookstore{% endblock title %}</title>
  </head>
  <body>
    <div class="container">
      {% block content %}{% endblock content %}
    </div>
  </body>
</html>